<html>
  <body>
      <h1> This is test mail with template </h1>
       <h2> Item Name : <%= item.name %> </h2>
       <h2> Item Price : <%= item.price %> </h2>
       <h2> Total : <%= total %> </h2>
  </body>
</html>